/*css tambah_data*/
body{
	background-color: #ededed !important;
}

.container {
	padding: 10%;
}

.box {
	height: 0%;
	box-shadow: 2px 3px 10px #e0e0e0;
	padding: 15px;
	border-radius: 5px;
	background-color: white;
}

h3 {
	text-align: center;
}

.form-group > label {
	font-weight: bold;
}